/*** 

====================================================================
            Coming Soon
====================================================================

***/

.coming-soon {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    text-align: center;
}

.coming-soon .content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
}

.coming-soon .content:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    content: "";
    opacity: .30;
}

.coming-soon .content .content-inner {
    position: relative;
    padding: 90px 15px;
    display: table-cell;
    vertical-align: middle;
}

.coming-soon .content .content-inner .logo {
    position: relative;
    margin-bottom: 200px;
}

.coming-soon .content .content-inner .sec-title {
    display: none;
    margin-bottom: 50px;
}

.coming-soon .content .content-inner h2 {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2em;
    padding-bottom: 0;
    font-variant: small-caps;
}

.coming-soon .content .content-inner h2:after {
    display: none;
}

.time-counter {
    position: relative;
}

.time-counter .time-countdown1 {
    position: relative;
    margin-bottom: 180px;
}

.time-counter .time-countdown1 .counter-column {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;
    font-size: 20px;
    line-height: 1em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    z-index: 7;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    background-color: rgba(54, 54, 54, .40);
    margin: 0 15px 20px;
}

.time-counter .time-countdown1 .counter-column .count {
    position: relative;
    display: block;
    font-size: 72px;
    line-height: 30px;
    padding: 60px 0px 30px;
    color: #ffffff;
    font-weight: 600;
}

.coming-soon .emailed-form {
    position: relative;
    margin-bottom: 40px;
}

.coming-soon .emailed-form h3 {
    line-height: 1.2em;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

.coming-soon .emailed-form .text {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.8em;
    margin-bottom: 40px;
}

.coming-soon .emailed-form .form-group {
    position: relative;
    display: block;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}

.coming-soon .emailed-form .form-group input[type="text"],
.coming-soon .emailed-form .form-group input[type="tel"],
.coming-soon .emailed-form .form-group input[type="email"],
.coming-soon .emailed-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    line-height: 28px;
    height: 60px;
    font-size: 16px;
    color: #000000;
    overflow: hidden;
    padding: 15px 50px 15px 20px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.10);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.coming-soon .emailed-form .form-group input:focus,
.coming-soon .emailed-form .form-group select:focus,
.coming-soon .emailed-form .form-group textarea:focus {}

.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    font-size: 18px;
    color: var(--thm-base);
    background-color: transparent;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.coming-soon .emailed-form .form-group input[type="submit"]:hover,
.coming-soon .emailed-form button:hover {
    color: #353535;
}

.coming-soon .copyright-text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

.coming-soon .copyright-text a {
    color: #ff9600;
}

.coming-soon .copyright-text a:hover {
    text-decoration: underline;
}

.clock-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: -145px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, .40);
    transform: scale(2);
}

.clock-base {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.click-indicator {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 230px;
}

.click-indicator div {
    position: absolute;
    width: 2px;
    height: 4px;
    margin: 113px 114px;
}

.click-indicator div>span {
    height: 5px;
    width: 5px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: -1px;
}

.click-indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-120px);
}

.click-indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-120px);
}

.click-indicator div:nth-child(3) {
    transform: rotate(90deg) translateY(-120px);
    background-color: #f7941d;
}

.click-indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-120px);
}

.click-indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-120px);
}

.click-indicator div:nth-child(6) {
    transform: rotate(180deg) translateY(-120px);
    background-color: #f7941d;
}

.click-indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-120px);
}

.click-indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-120px);
}

.click-indicator div:nth-child(9) {
    transform: rotate(270deg) translateY(-120px);
    background-color: #f7941d;
}

.click-indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-120px);
}

.click-indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-120px);
}

.click-indicator div:nth-child(12) {
    transform: rotate(360deg) translateY(-120px);
    background-color: #f7941d;
}

.clock-hour {
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 123px;
    width: 4px;
    height: 65px;
    background-color: #f7941d;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    transform-origin: 2px 50px;
    transition: .5s;
    -webkit-animation: rotate-hour 43200s linear infinite;
    -moz-animation: rotate-hour 43200s linear infinite;
}

.clock-minute {
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 123px;
    width: 4px;
    height: 85px;
    background-color: #f7941d;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    transform-origin: 2px 70px;
    transition: .5s;
    -webkit-animation: rotate-minute 3600s linear infinite;
    -moz-animation: rotate-minute 3600s linear infinite;
}

.clock-second {
    position: absolute;
    z-index: 4;
    top: 15px;
    left: 124px;
    width: 2px;
    height: 130px;
    background-color: #ffffff;
    opacity: .9;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    transform-origin: 1px 110px;
    transition: .5s;
    -webkit-animation: rotate-second 60s linear infinite;
    -moz-animation: rotate-second 60s linear infinite;
}

.clock-second:after {
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    bottom: 16px;
    width: 8px;
    height: 8px;
    background-color: #222222;
    border: solid 2px #222222;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.clock-center {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.clock-center:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 65px;
    background-color: #ddd;
    border-radius: 50%;
}

/* Social Icon One */

.coming-soon .social-icon-one {
    position: relative;
}

.coming-soon .social-icon-one li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #5a5a5a;
    margin: 0px 10px;
}

.coming-soon .social-icon-one li:last-child {
    margin-right: 0;
}

.coming-soon .social-icon-one li a {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.coming-soon .social-icon-one li a:hover {
    color: #ffaa17;
}