/*** 

====================================================================
	Google Map
====================================================================

***/

.google-map {
    position: relative;
    display: block;
    padding: 0px 0 0px;
    z-index: 1;
}

.google-map__one {
    position: relative;
    display: block;
    width: 100%;
    height: 470px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: -1;
}

/*** 

====================================================================
	End
====================================================================

***/