/*** 

====================================================================
	Process One
====================================================================

***/

.process-one {
    position: relative;
    display: block;
    counter-reset: count;
    padding: 120px 0 60px;
    z-index: 1;
}

.process-one__single {
    position: relative;
    display: block;
    border-radius: 63px 0px 0px 0px;
    background: #E4E4E4;
    text-align: right;
    margin-bottom: 55px;
    padding: 50px 37px 53px;
}

.margin-top {
    margin-top: 25px;
}

.process-one__single::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    background-color: var(--thm-black);
}

.process-one__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

.process-one__title a {
    color: var(--thm-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.process-one__title a:hover {
    color: var(--thm-base);
}

.process-one__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    margin-top: 17px;
}

.process-one__count {
    position: absolute;
    bottom: -25px;
    right: -19px;
    width: 70px;
    height: 70px;
    border-radius: 25px 25px 0px 25px;
    background: var(--thm-base);
}

.process-one__count:before {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    counter-increment: count;
    content: "0"counter(count);
    transition: all 200ms linear;
    transition-delay: 0.1s;
    color: var(--thm-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    transform: translateX(-50%) translateY(-50%);
}

/*** 

====================================================================
	End
====================================================================

***/