/*** 

====================================================================
	Sliding Text
====================================================================

***/

.sliding-text-one {
    position: relative;
    display: block;
    padding: 120px 0 80px;
    transform: rotate(-5deg);
    z-index: 1;
}

.sliding-text-one__wrap {
    position: relative;
    display: block;
}

.sliding-text__list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    width: fit-content;
}

.sliding-text__list li {
    osition: relative;
    display: block;
    float: left;
    margin-right: 30px;
}

.sliding-text__title {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px #222222;
    font-size: 120px;
    line-height: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -4.8px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    font-family: var(--thm-font-two);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sliding-text__list li .sliding-text__title:hover {
    color: transparent;
    -webkit-text-stroke: 1px var(--thm-base);
}

.sliding-text__title:before {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: var(--thm-base);
    white-space: nowrap;
    content: attr(data-hover);
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
}

.sliding-text__list li:hover .sliding-text__title:before {
    width: 100%;
}

/*** 

====================================================================
	End
====================================================================

***/