/*** 

====================================================================
	Testimonial One
====================================================================

***/

.testimonial-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
}

.testimonial-one__left {
    position: relative;
    display: block;
    margin-top: 10px;
}

.testimonial-one__img-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90px;
    height: 90px;
    margin-left: -83px;
    margin-top: 19px;
    z-index: 2;
}

.testimonial-one__img-icon a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--thm-black);
    color: var(--thm-white);
    font-size: 30px;
}

.testimonial-one__img-icon a::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    border: 5px solid var(--thm-white);
    border-radius: 50%;
}

.testimonial-one__img-icon a:hover {
    color: var(--thm-white);
    background-color: var(--thm-base);
}

.testimonial-one__img-top {
    position: relative;
    display: block;
    padding-left: 14px;
    padding-right: 53px;
}

.testimonial-one__img-top ul {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-left: -9px;
    margin-right: -9px;
}

.testimonial-one__img-top ul li {
    position: relative;
    display: block;
    float: left;
    padding: 0 9px 0;
    margin-bottom: 18px;
}

.testimonial-one__single-img-box {
    position: relative;
    display: block;
    z-index: 1;
}

.testimonial-one__img-top li:nth-child(1) .testimonial-one__single-img-box::before {
    content: "";
    position: absolute;
    top: -11px;
    left: -16px;
    bottom: 11px;
    right: 9px;
    background-color: var(--thm-base);
    border-radius: 35px 10px 53px 5px;
    z-index: -1;
}

.testimonial-one__single-img img {
    width: 100%;
}

.testimonial-one__img-top li:nth-child(1) .testimonial-one__single-img {
    border-radius: 35px 10px 53px 5px;
}

.testimonial-one__img-top li:nth-child(1) .testimonial-one__single-img img {
    border-radius: 35px 10px 53px 5px;
}

.testimonial-one__img-top li:nth-child(2) .testimonial-one__single-img img {
    border-radius: 80px 10px;
}

.testimonial-one__img-bottom {
    position: relative;
    display: block;
    margin-left: -42px;
    margin-right: 107px;
}

.testimonial-one__img-bottom ul {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.testimonial-one__img-bottom ul li {
    position: relative;
    display: block;
    float: left;
    padding: 0 7.5px 0;
}

.testimonial-one__img-bottom ul li:nth-child(1) .testimonial-one__single-img {
    border-radius: 35px 10px 53px 5px;
}

.testimonial-one__img-bottom ul li:nth-child(1) .testimonial-one__single-img img {
    border-radius: 35px 10px 53px 5px;
}

.testimonial-one__img-bottom ul li:nth-child(2) .testimonial-one__single-img {
    border-radius: 31px 10px 74px 5px;
}

.testimonial-one__img-bottom ul li:nth-child(2) .testimonial-one__single-img img {
    border-radius: 31px 10px 74px 5px;
}

.testimonial-one__right {
    position: relative;
    display: block;
}

.testimonial-one__right .section-title {
    margin-bottom: 50px;
}

.testimonial-one__carousel {
    position: relative;
    display: block;
    padding-bottom: 6px !important;
}

.testimonial-one__single {
    position: relative;
    display: block;
}

.testimonial-one__client-rating {
    position: relative;
    display: flex;
    align-items: center;
}

.testimonial-one__client-rating i {
    position: relative;
    display: inline-block;
    font-size: 21px;
    color: var(--thm-base);
}

.testimonial-one__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 28px;
    margin-bottom: 39px;
}

.testimonial-one__client-info {
    position: relative;
    display: flex;
    align-items: center;
}

.testimonial-one__client-img {
    position: relative;
    display: block;
    width: 104px;
    border-radius: 50%;
    z-index: 1;
}

.testimonial-one__client-img::before {
    content: "";
    position: absolute;
    width: 104px;
    height: 104px;
    right: -7px;
    bottom: -6px;
    border-radius: 50%;
    background-color: var(--thm-base);
    z-index: -1;
}

.testimonial-one__client-img img {
    border-radius: 50%;
    width: auto;
}

.testimonial-one__client-content {
    position: relative;
    display: block;
    margin-left: 30px;
}

.testimonial-one__client-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.96px;
    text-transform: capitalize;
}

.testimonial-one__client-sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.64px;
    text-transform: capitalize;
    color: var(--thm-black);
    margin-top: 3px;
}

.testimonial-one__nav {
    position: absolute;
    right: 8px;
    bottom: 35px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.testimonial-one__nav .swiper-button-next,
.testimonial-one__nav .swiper-button-prev {
    position: relative;
    width: 30px;
    height: 50px;
    color: var(--thm-black);
    font-size: 12px;
    margin: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.testimonial-one__nav .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    width: 30px;
    height: 50px;
    border: 1px solid var(--thm-black);
    border-radius: 15px;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.testimonial-one__nav .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 30px;
    height: 50px;
    border: 1px solid var(--thm-black);
    border-radius: 15px;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.testimonial-one__nav .swiper-button-prev {
    margin-bottom: 0;
    margin-right: 30px;
}

.testimonial-one .swiper-button-next:hover,
.testimonial-one__nav .swiper-button-prev:hover {
    color: var(--thm-base);
}

.testimonial-one .swiper-button-next:hover::before,
.testimonial-one__nav .swiper-button-prev:hover::before {
    border: 1px solid var(--thm-base);
}

.testimonial-one__nav .swiper-button-next::after,
.testimonial-one__nav .swiper-button-prev::after {
    display: none;
}

/*** 

====================================================================
	Testimonial Two
====================================================================

***/

.testimonial-two {
    position: relative;
    display: block;
    padding: 120px 0 107px;
    z-index: 1;
}

.testimonial-two__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.testimonial-two__inner {
    position: relative;
    display: block;
}

.testimonial-two__carousel {
    position: relative;
    display: block;
}

.testimonial-two__main-content-box {
    position: relative;
    display: block;
}

.testimonial-two__main-content-left {
    position: relative;
    display: block;
}

.testimonial-two__client-info {
    position: relative;
    display: block;
}

.testimonial-two__shape-1 {
    position: absolute;
    bottom: -33px;
    left: 0;
}

.testimonial-two__shape-1 img {
    width: auto;
}

.testimonial-two__client-img {
    position: relative;
    display: block;
    width: 245px;
    border-radius: 50%;
    z-index: 1;
}

.testimonial-two__client-img:before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: -15px;
    right: -18px;
    left: 18px;
    background-color: var(--thm-base);
    border-radius: 50%;
    z-index: -1;
}

.testimonial-two__client-img img {
    width: 100%;
    border-radius: 50%;
}

.testimonial-two__client-content-box {
    position: relative;
    display: flex;
    margin-left: 55px;
    margin-top: 60px;
}

.testimonial-two__client-circle {
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    background-color: var(--thm-base);
    border-radius: 50%;
    margin-top: 6px;
    z-index: 1;
}

.testimonial-two__client-circle:before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: -3px;
    left: 3px;
    right: -3px;
    background-color: var(--thm-black);
    border-radius: 50%;
}

.testimonial-two__client-content {
    position: relative;
    display: block;
    margin-left: 20px;
}

.testimonial-two__client-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.testimonial-two__client-sub-title {
    color: var(--thm-base);
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.64px;
}

.testimonial-two__main-content-right {
    position: relative;
    display: block;
    margin-top: 230px;
    margin-right: 30px;
}

.testimonial-two__rating {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.testimonial-two__rating span {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--thm-base);
}

.testimonial-two__rating span+span {
    margin-left: 5px;
}

.testimonial-two__text {
    font-size: 20px;
    line-height: 40px;
}

.testimonial-two__sec-title-box {
    position: absolute;
    top: 0;
    left: 400px;
}

.testimonial-two__nav {
    position: absolute;
    right: 0;
    top: 180px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.testimonial-two__nav .swiper-button-next,
.testimonial-two__nav .swiper-button-prev {
    position: relative;
    width: 30px;
    height: 50px;
    color: var(--thm-black);
    font-size: 12px;
    margin: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.testimonial-two__nav .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    width: 30px;
    height: 50px;
    border: 1px solid var(--thm-black);
    border-radius: 15px;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.testimonial-two__nav .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 30px;
    height: 50px;
    border: 1px solid var(--thm-black);
    border-radius: 15px;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.testimonial-two__nav .swiper-button-prev {
    margin-bottom: 0;
    margin-right: 30px;
}

.testimonial-two__nav .swiper-button-next:hover,
.testimonial-two__nav .swiper-button-prev:hover {
    color: var(--thm-base);
}

.testimonial-two__nav .swiper-button-next:hover::before,
.testimonial-two__nav .swiper-button-prev:hover::before {
    border: 1px solid var(--thm-base);
}

.testimonial-two__nav .swiper-button-next::after,
.testimonial-two__nav .swiper-button-prev::after {
    display: none;
}

/*** 

====================================================================
	End
====================================================================

***/