/*** 

====================================================================
	Why Choose One
====================================================================

***/

.why-choose-one {
    position: relative;
    display: block;
    padding: 120px 0 86px;
    z-index: 1;
}

.why-choose-one__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.why-choose-one__left {
    position: relative;
    display: block;
    margin-right: 100px;
}

.why-choose-one__left .section-title__title {
    color: var(--thm-white);
}

.why-choose-one__left.section-title {
    margin-bottom: 32px;
}

.why-choose-one__text {
    color: #999;
}

.why-choose-one__points {
    display: block;
    margin-top: 43px;
}

.why-choose-one__points li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 27px;
}

.why-choose-one__points li+li {
    margin-top: 25px;
}

.why-choose-one__points li:last-child {
    border-bottom: none;
}

.why-choose-one__points li .icon {
    position: relative;
    display: inline-block;
}

.why-choose-one__points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 64px;
    color: var(--thm-base);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.why-choose-one__points li:hover .icon span {
    transform: scale(0.9);
}

.why-choose-one__points li .content {
    position: relative;
    display: block;
    margin-left: 45px;
}

.why-choose-one__points li .content h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.2px;
    color: var(--thm-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-choose-one__points .cs-hover_tab-3.active .content h3 {
    color: var(--thm-base);
}

.why-choose-one__points li .content p {
    color: #999;
    line-height: 25px;
    margin-top: 19px;
}

.why-choose-one__img-box {
    position: absolute;
    right: -600px;
    top: 30px;
    width: 442px;
    height: 574px;
    z-index: 9;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    pointer-events: none;
    -webkit-animation: inactiveImageAnimation3 1s forwards ease;
    animation: inactiveImageAnimation3 1s forwards ease;
}

.cs-hover_tab-3.active .why-choose-one__img-box {
    -webkit-animation: activeImageAnimation3 1s forwards ease;
    animation: activeImageAnimation3 1s forwards ease;
}

@keyframes inactiveImageAnimation3 {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes activeImageAnimation3 {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.why-choose-one__shape-1 {
    position: absolute;
    bottom: 25px;
    right: -270px;
    z-index: -1;
}

.why-choose-one__shape-1 img {
    width: auto;
}

.why-choose-one__shape-2 {
    position: absolute;
    bottom: 25px;
    right: -625px;
    z-index: 10;
}

.why-choose-one__shape-2 img {
    width: auto;
    opacity: .70;
}

/* .why-choose-one__right {
    position: relative;
    display: block;
    margin-left: 28px;
}

.why-choose-one__img {
    position: relative;
    display: block;
    z-index: 1;
}

.why-choose-one__img img {
    width: 100%;
}

*/

/*** 

====================================================================
	End
====================================================================

***/